:root {
    --color-dark: #15181f;
    --color-dark-x: #192857;
    --color-dark-xx: #1f232b;
    --color-ligh:#ffffff;
    --color-grey: #f5f6f8;
}


.contenedor-gral{
    color: var(--color-ligh);
}


.grupo-input{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    .input-form{
        background-color: var(--color-dark-x);
        border: none;
        padding:.8rem 1rem;
        color: #f5f6f8;
    }

}

.input-form:focus{
    background-color: var(--color-dark-x);
    border:none;
    outline: none;
    color: #ffffff;  
}

.form-group{
    margin-top: 3rem;
}
.col-derecha{
    align-items: center;
}

.col-izquierda{
    background-image: url(../img/photo-contact.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

label{
    cursor: pointer;
}