footer{
    padding: 20px 0;
    .contenedor-footer{
        margin: 0 auto;
    }
    .logo-footer{
        width: 220px;
        height: 220px;
    }

    .footer-secciones{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        h2{
            font-size: 1.5rem;
            font-weight:300;
            color: #dadada;            
        }

        p{
            font-size: 1rem;
            color: #fff;
            text-decoration: none;
        }

        .icon-footer{
            opacity: .5;
            width: 25px;
            height: 25px;
            transition: all 400ms ease;
        }
        :hover{
            opacity: 1;
        }
    }
}

.copy{
    padding-bottom:5px;
    text-align:center;
    height: auto;
    margin: auto;

    img{
        width: 50px;
        height: 50px;
    }

    p{
        font-size: 14px;
        color: #fff;
    }
    
}

@media only screen and (max-width:767px){
    .logo-footer{
        width: 250px;
        height: 250px;
    }

    .footer-secciones{
        text-align: center;
    }
}