//BANNER
.section-banner{
    height: 100vh;
}
.container-banner{
    position: relative;
    width: 100%;
    height: 100vh;

    img{
        height: 100%;
        width: 100%;
        opacity: 0.7;
    }
}
// FIN BANNER

// TIPO DE HABITACIONES
.todo{
    height:auto;
}
.container-tipo-habitaciones{
    display: flex;
    padding-top: 20px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    height: auto;
}
.tipo-habitaciones{
    h5{
        font-size: 35px;
    }

    .card{
        text-align: center;
        .card-text{
            margin-bottom: 15px;
        }
    }
}

// FIN TIPO DE HABITACIONES

.container-cards{
    padding: 30px 0;
}
.container .card-individual{
    border-radius: 5px;
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #fff;
    overflow: hidden;

    .img-card {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
       
        img{
            border-top-left-radius: 5px;
            height: 100%;
            width: 100%;
        }
    }

    .info{
        padding: 30px 0px 0 80px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            font-size: 3em;
            color: #000;
        }
        
    }

    .equipamiento-habitacion{
        padding-top: 15px;
        .info-equipamiento{
            display: flex;
            gap: 50px;
         
            p{
             margin-bottom: 10px;
             display: flex;
             color: #000;
     
             span{
                 margin-right: 5px;
             }
            }
        }
    }
}

.caracteristicas{
    padding-top: 15px;
    p{
        margin-bottom: 10px;
        display: flex;
        color: #000;

        span{
            margin-right: 5px;
        }
       }
}



// RESPONSIVE

@media only screen and (max-width:750px){
    .section-banner{
        height: 400px;
    }
    .container-banner{
        height: 400px;
    }

    // TIPO DE HABITACIONES

    .container-tipo-habitaciones{
        flex-direction: column;
        padding-bottom: 20px;
    }


// HABITACIONES

.container-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .card-individual{
    flex-direction: column;
    width: 400px;
    height: auto;
    padding-bottom: 10px;
    display: flex;
    background-color: #fff;

    .img-card {       
        img{
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            height: 100%;
            width: 100%;
        }
    }

    .info{
        text-align: center;
        padding: 0px 20px 0 20px;
        width: 100%;
        h2{
            font-size: 2em;
            color: #000;
        }
        
    }

    .equipamiento-habitacion{
        padding-top: 10px;
        .info-equipamiento{
            display: flex;
            gap: 50px;
         
            p{
             display: flex;
             color: #000;

             span{
                 margin-right: 5px;
                 font-size: 20px;
             }
            }
        }
    }
}

}

@media only screen and (min-width:751px) and (max-width:1200px){
    .section-banner{
        width: 100%;
        height: 500px;
    }
    .container-banner{
        height: 100%;
    }

    // TIPO DE HABITACIONES

    .container-tipo-habitaciones{
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }
}