#app{
    width: 50%;
    margin: 0 auto;

    li{
        margin-bottom: 15px;
        color: #ffff;
        font-size: 15px;
        
        p{
            font-size: 15px;
            color: #ffff;
        }
    }
}