.btn-claro{
    color: #192857;
    border-color: #192857;
    margin: 20px 0px;
}

.btn-claro:hover{
    color: #fff;
    background-color: #192857;
    border-color: #192857;
}
.btn-claro:focus{
    border: none !important;
    box-shadow: none !important;
}


.btn-oscuro-azul{
    color: #fff;
    border-color: #192857;
    background-color: #192857;
    margin: 20px 0px;
}

.btn-oscuro-azul:hover{
    color: #fff;
    background-color: #213572;
    border-color: #213572;
}
.btn-oscuro-azul:focus{
    border-color: #192857 !important;
    box-shadow: none !important;
}


.btn-oscuro{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    color: #fff;
    border-color: #146f6f;
    background-color: #146f6f;
    margin: 20px 0px;
    margin-left: 10px;
}

.btn-oscuro:hover{
    color: #fff;
    background-color: #0d4444;
    border-color: #0d4444;
}
.btn-oscuro:focus{
    color: #fff;
    background-color: #0d4444;
    border-color: #0d4444;
    box-shadow: none;
}

