.btn-claro{
    color: #192857;
    border-color: #192857;
    margin: 20px 0px;
}

.btn-claro:hover{
    color: #fff;
    background-color: #192857;
    border-color: #192857;
}



.btn-oscuro{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    color: #fff;
    border-color: #146f6f;
    background-color: #146f6f;
    margin: 20px 0px;
    margin-left: 10px;
}

.btn-oscuro:hover{
    color: #fff;
    background-color: #0d4444;
    border-color: #0d4444;
}